$black: #000000;
$fresh-green: #c2f14d;
$white: #ffffff;
$light-silver: #eeeeee;
$grey-text: #565656;
$silver-lines: #eeeeee;
$blue: #6fd4ff;
$red: #ff4f53;
$orange: #ffa934;
$purple: #ea96ff;
$silver-bg: #f8f8f8;
$pale: #b3b3b3;
