
$grey-01: #e0e0e0;
$grey-02: #c0c0c0;
$grey-03: #808080;
$grey-04: #606060;
$grey-05: #484848;
$grey-06: #404040;
$grey-07: #383838;

$accent-01: #f0c000;
$accent-02: #ea0;

$white: #fff;
$black: #000;

$fc-body: #e0e0e0;
$bg-body: #606060;

$fc-header: #60e0c0;
$bg-header: #404040;

$fc-list: #383838;
$bg-list: #383838;

$fc-list-title: #e0e0e0;
$bg-list-title: #e0e0e0;

$fc-list-item: #484848;
$bg-list-item: #484848;

$fc-list-item-hover: $accent-02;
$bg-list-item-hover: $accent-02;

//$bg-list-item-primary:
//$bg-list-item-secondary:
